.bookings__event {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookings__event-heading {
  width: 30%;
}

.bookings__event-description {
  width: 40%;
  margin: 0 10px;
  /* text-align: left; */
}

.bookings__event-date {
  width: 20%;
  text-align: center;
}

.bookings__event-creator {
  text-align: center;
  width: 150px;
}

.bookings__event-cancel-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  background: var(--main-secondary-color);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}